CIME/data/config/xml_schemas/config_inputdata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="inputdata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="server" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>server precidence is order in this file.  Highest preference at top</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="comment" minOccurs="0"/>
              <xs:element type="xs:string" name="protocol"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="user" minOccurs="0"/>
              <xs:element type="xs:string" name="password" minOccurs="0"/>
              <xs:element type="xs:string" name="checksum" minOccurs="0"/>
                  <!-- inventory is a CSV list of available data files and the valid date for each -->
                  <!-- expected format is pathtofile,YYYY-MM-DD HH:MM:SS -->
                  <!-- it is currently only used for NEON tower data -->
              <xs:element type="xs:string" name="inventory" minOccurs="0"/>
              <xs:element type="xs:string" name="ic_filepath" minOccurs="0"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
